body  {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

#main {
  margin: 64px auto 64px;
}

#main img {
  margin: 64px auto 32px;
}

h1  {
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

h1 span {
  color: #EE24FF;
  font-weight: 700;
}

p {
  line-height: 22px;
  width: 540px;
  margin: 0 auto 32px;
}

span  {
  color: #3F3D56;
  font-weight: 700;
}

#line  {
  width: 391px;
  height: 0px;
  border: 1px #ECEFF2 solid;
  margin: 64px auto 16px;
}

#footer a  {
  color: #3F3D56;
  font-weight: 700;
  line-height: 147.682%;
  font-style: normal;
}

#footer {
  margin-bottom: 40.83px;
}

#footer a + a {
  margin-left: 42px;
}