body  {
  margin: 0;
  background-color: #2C2B3D;
  min-height: 100vh;
}

.page {
  width: 1092px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 101px;
  
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

ul {
  list-style:none;
  display: flex;
  gap: 64px;
}

ul li a {
  color: #FFF;
  text-decoration:none;
  font-weight: normal;
}

ul li a:hover {
  font-weight: 700;
}

main  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;
  margin-bottom: 157px;
}

h1  {
  color: #FFF;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

h1 span {
  color: #00BFA6;
}

p {
  color: #C2C2C2;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  }

p span  {
  color: #00BFA6;
  font-weight: 700;
}


.line {
  width: 568px;
  height: 0px;
  margin: 0 auto 27px;
  border: 1px #00BFA6 solid;
}

footer  {
  color: #FFF;
  text-align: center;
  font-family: JetBrains Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

footer a {
  color: #FFF;
  text-decoration:none;
}

#cadeado  {
  position: fixed;
  bottom: 20px;
  left: 20px;
}